[mariadb]
host-cache-size=0
skip-name-resolve

[mysqld]
pid-file                = /run/mysqld/mysqld.pid
basedir                 = /usr
expire_logs_days        = 10
character-set-server  = utf8mb4
collation-server      = utf8mb4_general_ci

bind-address = 0.0.0.0
port = 3306
